*{
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    font-size: 10pt;
    margin-top: 75px !important;
}

h1 {
    color: darkblue;
}

body {
    height:100%;
    width: 100%;
    background-color: white;
}

.wrapper{
    padding: 20px 20px;
    background-color: peru;
    height: 1000px;
}
.position > div {
    width:150px;
    border:1px solid black;
    border-radius: 10px;
    font:bold 22px/100px Arial,Sans-Serif;
    color:black;
    text-align:center;
}

#turquise{ background-color: lightseagreen;}

#blue{ background-color: dodgerblue;}

#violet{ background-color: mediumorchid;}

#orange{ background-color: darkorange;}

#red{ background-color: tomato;}

#yellow{ background-color: orange;}

.static {
    position:static;
}

.relative {
    position:relative;
    top:50px;
    left:50px;
}

.absolute {
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.fixed {
    position:fixed;
    width:50%;
    right: 20px;
    top:20px;
}

ul.darkNavbar {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a.darkNavbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

/*li a:hover:not(.active) {*/
     /*background-color: #111;*/
/*}*/

li a:hover {
    text-decoration: none;
    color: green;
}

.active {
    background-color: #4CAF50;
}

div.padding {
    padding: 5px 5px 5px 5px;
}

img.avatarImage{
    max-height: inherit;
    border-radius: 10px;
}

button.giveOrder{
    max-height: inherit;
}

#userImage{
    max-height: 100%;
    max-width: 100%;
}

#userData{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #4e555b;
    background-color: #ffe8a1;
}

#userMenu{
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;

    background-color: #ffe8a1;
}

#userField{
}

#orders{
    background-color: #b3d7ff;
    height: 500px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #915724;
}

#orderImg{
    height: 50px;
    position: inherit;
    width: 50px;
    background-size:cover;
}

#ordersTable{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.popup {
    position: fixed;
    background-color: #0b2e13;
    /*display: inline-block;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Popup box BEGIN */
.orderPopup{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.orderPopup .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.orderPopup > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}

/* Popup box BEGIN */