<div class="absolute">
    <div class="container-fluid">
        <div class="row">
            <ul class="darkNavbar">
                <li><a class="darkNavbar" href="?page=createAccount">Create Account</a></li>
                <li><a class="darkNavbar active" href="?page=login">Log In</a></li>
            </ul>
        </div>
    </div>
</div>