<div class="absolute">
    <div class="container-fluid">
        <div class="row">
            <ul class="darkNavbar">
                <li><a class="darkNavbar" href="?page=home">Home</a></li>
                <li><a class="darkNavbar" href="?page=logout" onclick="logout()">Log Out</a></li>
                <li><a class="darkNavbar active" href="?page=goToMyAccountPanel">My Account</a> </li>
            </ul>
        </div>
    </div>
</div>